<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.zust.services.carbon.mapper.CompanyInfoMapper">

    <resultMap id="BaseResultMap" type="online.zust.services.carbontrade.domain.CompanyInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="industryId" column="industry_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="disabled" column="disabled" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,industry_id,
        create_time,create_by,disabled
    </sql>
</mapper>
